// ==========================================================================
// Button
// ==========================================================================
.o-button {
	@extend .g-button;
	background-color: $orange-dark;
	transition: background-color $speed, color $speed;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: $bold;
	padding: rem(20px);

	@media (max-width: $to-small) {
		font-size: 14px;
		width: 160px;
	}

	@media (min-width: $from-small) {
		min-width: rem(200px);
	}

	&:focus {
		background-color: darken($orange, 5%);
	}

	&:hover {
		background-color: darken($orange, 15%);
		color: white;
	}

	&.-margin {
		margin-top: rem(30px);
	}
}