// ==========================================================================
// Button
// ==========================================================================
.o-button {
	@extend .g-button;
	background-color: $orange-dark;
	transition: background-color $speed, color $speed;
	color: white;
	font-size: 14px;
	letter-spacing: 0.1em;
	padding: rem(20px) rem(25px);
	text-decoration: none;
	text-transform: uppercase;

	&:focus {
		background-color: darken($orange, 5%);
	}

	&:hover {
		background-color: darken($orange, 15%);
		color: white;
	}

	&.-margin {
		margin-top: rem(30px);
	}

	&.-flat {
		background-color: transparent;
		color: $grey-dark;

		&:focus {
			background-color: rgba($grey-light, 0.4);
		}

		&:hover {
			background-color: rgba($grey-light, 0.2);
		}
	}
}