// ==========================================================================
// Form styles
// ==========================================================================

// Form
// ==========================================================================
.form {
	&.-margin {
		@media (max-width: $to-small) {
			margin: 35px 0;
		}

		@media (min-width: $from-small) {
			margin: rem(90px) 0;
		}
	}
}

.form_thirds {
	@include grid;
	margin-left: rem(-40px);

	@media (min-width: $from-small) and (max-width: $to-medium) {
		margin-left: rem(-20px);
	}
}

.form_third {
	@include grid_item;
	padding-left: rem(40px);

	@media (max-width: $to-small) {
		margin-bottom: 15px;
	}

	@media (min-width: $from-small) {
		width: span(1/3);
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		padding-left: rem(20px);
	}
}

.form_button {
	@media (max-width: $to-small) {
		text-align: center;
	}

	@media (min-width: $from-small) {
		text-align: right;
	}
}

.form_captcha {
	visibility: hidden;
	opacity: 0;
	transition: visibility $speed-slow, opacity $speed-slow, transform $speed-slow;

	@media (max-width: 380px) {
		margin-left: rem(-$padding);
		margin-right: rem(-$padding);
	}

	@media (max-width: $to-small) {
		text-align: center;
	}

	@media (min-width: $from-small) {
		transform: translateY(-100%);
	}

	&.is-active {
		visibility: visible;
		opacity: 1;

		@media (min-width: $from-small) {
			transform: translateY(0);
		}
	}
}

.form_captcha_wrap {
	display: none;
	margin-top: rem(30px);

	.form_captcha.is-active & {
		display: inline-block;
	}
}

// Label
// ==========================================================================
.label {
	display: block;
	margin-bottom: rem(10px);
	text-transform: uppercase;
	font-weight: $medium;
	font-size: rem(12px);
	letter-spacing: 0.05em;
}

// Input
// ==========================================================================
$input-icon-color: 534943; // No #

.input {
	display: block;
	padding: rem(20px);
	background-color: $grey-light;
	height: rem(60px);
	transition: background-color $speed;
	font-size: rem(16px);
	color: rgba($color, 0.6);
	@include notap;

	&:focus {
		background-color: darken($grey-light, 5%);
	}

	&::placeholder {
		color: rgba($color, 0.6);
	}

	&.-pointer {
		cursor: pointer;
		user-select: none;
	}

	.input-group_input & {
		@media (max-width: $to-small) {
			text-align: center;
		}
	}

	&.has-error {
		background-color: $grey-error;
	}
}

.input-item {
	margin-bottom: rem(28px);

	&.-height {
		height: rem(60px);
	}

	&.-inline {
		display: inline-block;
		margin-right: rem(60px);
	}
}

.input-wrap {
	position: relative;
}

// Icon
// ==========================================================================
.input-icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 rem(20px);
	cursor: pointer;
}

.input-icon_image {
	width: rem(25px);
	height: 100%;
	fill: #534943;
}

// Group
// ==========================================================================
.input-group {
	@include grid(rem(5px));

	.input, .button {
		height: rem(54px);
		font-size: rem(14px);
	}
}

.input-group_input {
	@media (max-width: $to-small) {
		margin-bottom: 30px;
	}

	@media (min-width: $from-small) {
		@include grid_item(rem(5px));
		width: calc(100% - #{rem(205px)});
	}
}

.input-group_button {
	@media (min-width: $from-small) {
		@include grid_item(rem(5px));
		width: rem(205px);
	}
}

// File
// ==========================================================================
.input-file {
	position: absolute;
	width: 0;
	opacity: 0;

	&:focus {
		+ .input-file-path {
			background-color: darken($grey-light, 5%);
		}
	}
}

.input-file-path {
	@extend .input;
	@extend .-pointer;
}

// Checkbox
// ==========================================================================
$checkbox: rem(45px);
$checkbox-icon-color: ffffff;

.checkbox {
	position: absolute;
	width: 0;
	opacity: 0;

	&:focus {
		+ .checkbox-label {
			&::before {
				background-color: darken($grey-light, 5%) !important;
			}
		}
	}

	&:checked {
		+ .checkbox-label {
			&::after {
				background-color: $orange !important;
				opacity: 1;
				transform: scale(1);
			}
		}

		&:focus {
			+ .checkbox-label {
				&::after {
					background-color: darken($orange, 5%) !important;
				}
			}
		}
	}
}

.checkbox-label {
	@extend .label;

	position: relative;
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 0;
	padding-left: ($checkbox + rem(20px));
	cursor: pointer;
	line-height: $checkbox;
	@include notap;

	&::before, &::after {
		@extend .input;

		position: absolute;
		top: 50%;
		left: 0;
		display: inline-block;
		margin-top: (-$checkbox / 2);
		padding: 0;
		width: $checkbox;
		height: $checkbox;
		content: "";

		.input-item.has-error & {
			background-color: $grey-error;
		}
	}

	&::after {
		background-color: transparent;
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2210.5%22%20viewBox%3D%220%200%2013%2010.5%22%20enable-background%3D%22new%200%200%2013%2010.5%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23#{$checkbox-icon-color}%22%20d%3D%22M4.8%205.8L2.4%203.3%200%205.7l4.8%204.8L13%202.4c0%200-2.4-2.4-2.4-2.4L4.8%205.8z%22%2F%3E%3C%2Fsvg%3E");
		background-position: center;
		background-size: 13px;
		background-repeat: no-repeat;
		opacity: 0;
		transform: scale(0);
		transition: transform $speed, opacity $speed, background-color $speed;
	}
}

// Radio
// ==========================================================================
$radio-icon-color: $checkbox-icon-color;

.radio {
	@extend .checkbox;
}

.radio-label {
	@extend .checkbox-label;

	&::before, &::after {
		border-radius: 50%;
	}

	&::after {
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2210.5%22%20viewBox%3D%220%200%2013%2010.5%22%20enable-background%3D%22new%200%200%2013%2010.5%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23#{$checkbox-icon-color}%22%20d%3D%22M4.8%205.8L2.4%203.3%200%205.7l4.8%204.8L13%202.4c0%200-2.4-2.4-2.4-2.4L4.8%205.8z%22%2F%3E%3C%2Fsvg%3E");
		background-size: rem(18px);
	}

	&.-empty {
		width: $checkbox;
		height: $checkbox;
		margin: 0;
		padding: 0;
	}
}

// Select
// ==========================================================================
$select-icon: rem(60px);
$select-icon-color: $input-icon-color;

.select {
	@extend .input;

	position: relative;
	z-index: 1;
	padding-right: $select-icon;
	cursor: pointer;
}

.select-wrap {
	position: relative;

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		width: $select-icon;
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2211.3%22%20viewBox%3D%220%200%2013%2011.3%22%20enable-background%3D%22new%200%200%2013%2011.3%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23#{$select-icon-color}%22%20points%3D%226.5%2011.3%203.3%205.6%200%200%206.5%200%2013%200%209.8%205.6%20%22%2F%3E%3C%2Fsvg%3E");
		background-position: center;
		background-size: rem(10px);
		background-repeat: no-repeat;
		content: "";
		pointer-events: none;
	}
}

// Textarea
// ==========================================================================
.textarea {
	@extend .input;

	min-height: rem(174px);
}