// ==========================================================================
// Grid
// ==========================================================================
@mixin grid($grid-gutter: 0) {
	letter-spacing: normal;
	font-size: 0;
	margin-left: -$grid-gutter;
}
.grid {
	@include grid;

	&.-margin {
		margin-left: rem(-$unit);
	}

	&.-small-margin {
		margin-left: rem(-40px);
	}
}

@mixin grid_row($grid-gutter: 0) {
	margin-bottom: rem($unit);
}
.grid_row {
	@include grid_row;
	
	@media (min-width: $from-small) {
		display: flex;
		align-items: center;

		&.-reverse {
			flex-direction: row-reverse;
		}
	}
}

@mixin grid_item($grid-gutter: 0) {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	vertical-align: top;
	font-size: 1rem;
	padding-left: $grid-gutter;
}
.grid_item {
	@include grid_item;

	&.-middle {
		vertical-align: middle;
	}

	&.-margin {
		padding-left: rem($unit);
	}

	&.-small-margin {
		padding-left: rem(40px);
	}

	&.-bottom {
		margin-bottom: rem($unit);
	}

	&.-mobile-margin {
		margin-bottom: rem(50px);
	}
}

@mixin whole {
	@include grid_item;

	width: 100%;
}

@mixin half {
	@include grid_item;

	@media (min-width: $from-small) {
		width: span(1/2);
	}
}

@mixin third {
	@include grid_item;

	@media (min-width: $from-medium) {
		width: span(1/3);
	}
}

@mixin two-thirds {
	@include grid_item;

	@media (min-width: $from-medium) {
		width: span(2/3);
	}
}

@mixin quarter {
	@include grid_item;

	@media (min-width: $from-medium) {
		width: span(1/4);
	}
}

@mixin two-quarters {
	@include grid_item;

	@media (min-width: $from-medium) {
		width: span(2/4);
	}
}

@mixin three-quarters {
	@include grid_item;

	@media (min-width: $from-medium) {
		width: span(3/4);
	}
}

@mixin fifth {
	@include grid_item;

	@media (min-width: $from-large) {
		width: span(1/5);
	}
}

@mixin two-fifths {
	@include grid_item;

	@media (min-width: $from-large) {
		width: span(2/5);
	}
}

@mixin three-fifths {
	@include grid_item;

	@media (min-width: $from-large) {
		width: span(3/5);
	}
}

@mixin four-fifths {
	@include grid_item;

	@media (min-width: $from-large) {
		width: span(4/5);
	}
}

@mixin sixth {
	@include grid_item;

	@media (min-width: $from-huge) {
		width: span(1/6);
	}
}

@mixin two-sixths {
	@include grid_item;

	@media (min-width: $from-huge) {
		width: span(2/6);
	}
}

@mixin three-sixths {
	@include grid_item;

	@media (min-width: $from-huge) {
		width: span(3/6);
	}
}

@mixin four-sixths {
	@include grid_item;

	@media (min-width: $from-huge) {
		width: span(4/6);
	}
}

@mixin five-sixths {
	@include grid_item;

	@media (min-width: $from-huge) {
		width: span(5/6);
	}
}

// Classes
// ==========================================================================
.two-fifths {
	@extend .grid_item;

	@media (max-width: $to-small) {
		margin-bottom: rem(50px);
	}

	@media (min-width: $from-small) {
		width: 40%;
	}
}

.three-fifths {
	@extend .grid_item;

	@media (max-width: $to-small) {
		margin-bottom: rem(50px);
	}

	@media (min-width: $from-small) {
		width: 60%;
	}
}

.half {
	@extend .grid_item;

	@media (max-width: $to-small) {
		margin-bottom: 1rem;

		&.-no-bottom {
			margin-bottom: 0;
		}
	}

	@media (min-width: $from-small) {
		width: 50%;
	}
}

.third {
	@extend .grid_item;

	@media (min-width: $from-small) {
		width: span(1/3);
	}
}

.two-thirds {
	@extend .grid_item;

	@media (min-width: $from-small) {
		width: span(2/3);
	}
}

.quarter {
	@extend .grid_item;

	@media (min-width: $from-small) {
		width: span(1/4);
	}
}

.fifth {
	@extend .grid_item;

	@media (max-width: $to-small) {
		width: 50%;
	}

	@media (min-width: $from-small) and (max-width: $to-large) {
		width: span(1/4);
	}

	@media (min-width: $from-large) {
		width: span(1/5);
	}
}