// ==========================================================================
// Objects
// ==========================================================================

// Link
// ==========================================================================
.link {
	&.-normal {
		color: $color;
		text-decoration: none;

		&:hover {
			color: $orange;
			text-decoration: underline;
		}
	}
}

// Section
// ==========================================================================
.section {
	overflow: hidden;

	&.-grey {
		background-color: $grey-light;
	}

	&.-top {
		margin-top: rem($unit);
	}

	&.-top-big {
		margin-top: rem(95px);
	}
}

// Image link
// ==========================================================================
.image-link {
	display: block;

	img {
		width: 100%;
	}
}

// Content
// ==========================================================================
.content {
	p {
		margin: 1.5em 0;
	}
}
