<!DOCTYPE html>
<html lang="en" class="t-moderation">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#3C3C3C">
        <title>Moderation</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="/assets/styles/dist/main.css">
    </head>
    <body>
        <main class="js-moderation-view">
            <header class="c-header -moderation js-moderation-toggle-all">
                <h1 class="c-header_heading h2">Moderation</h1>
            </header>
            <nav class="c-nav-moderation">
                <ul class="c-nav-moderation_list">
                    <li class="c-nav-moderation_item">
                        <a class="c-nav-moderation_link{{#active_moderation}} is-active{{/active_moderation}}" href="/moderation">Queue</a>
                    </li>
                    <li class="c-nav-moderation_item">
                        <a class="c-nav-moderation_link{{#active_approved}} is-active{{/active_approved}}" href="/moderation/approved">Approved</a>
                    </li>
                    <li class="c-nav-moderation_item">
                        <a class="c-nav-moderation_link{{#active_published}} is-active{{/active_published}}" href="/moderation/published">Published</a>
                    </li>
                    <li class="c-nav-moderation_item">
                        <a class="c-nav-moderation_link{{#active_rejected}} is-active{{/active_rejected}}" href="/moderation/rejected">Rejected</a>
                    </li>
                </ul>
            </nav>
            <section class="js-post-list-container">
                <ul class="c-post-list js-post-list"></ul>
            </section>
        </main>
        <script data-main="/assets/scripts/appModeration" src="/node_modules/requirejs/require.js"></script>
    </body>
</html>