<!DOCTYPE html>
<html lang="en" class="t-moderation">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#3C3C3C">
        <title>Moderation</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="/assets/styles/dist/main.css">
    </head>
    <body>
        <main>
            <header class="c-header -moderation js-moderation-toggle-all">
                <h1 class="c-header_heading h2">Moderation</h1>
            </header>
            <nav class="c-nav-moderation">
                <ul class="c-nav-moderation_list">
                    <li class="c-nav-moderation_item">
                        <a class="c-nav-moderation_link{{#active_moderation}} is-active{{/active_moderation}}" href="/moderation">Moderation queue</a>
                    </li>
                    <li class="c-nav-moderation_item">
                        <a class="c-nav-moderation_link{{#active_approved}} is-active{{/active_approved}}" href="/moderation/approved">Approved</a>
                    </li>
                    <li class="c-nav-moderation_item">
                        <a class="c-nav-moderation_link{{#active_published}} is-active{{/active_published}}" href="/moderation/published">Published</a>
                    </li>
                    <li class="c-nav-moderation_item">
                        <a class="c-nav-moderation_link{{#active_rejected}} is-active{{/active_rejected}}" href="/moderation/rejected">Rejected</a>
                    </li>
                </ul>
            </nav>
            <section class="js-post-list-container">
                <ul class="c-post-list">
                {{#posts}}
                    <li class="c-post-list_item js-post" data-id="{{ id }}">
                        <article class="c-moderation-post">
                            <div class="c-moderation-post_image"{{#has_image}} style="background-image:url(/uploads/{{ image }})"{{/has_image}}>
                                {{#has_image}}
                                <div class="c-moderation-post_image_information">
                                    <p>{{image_width}}x{{image_height}}</p>
                                </div>
                                {{/has_image}}
                            </div>
                            <div class="c-moderation-post_content">
                                <h2 class="c-moderation-post_label h4 js-author">{{author}}</h2>
                                {{#has_text}}
                                <p class="js-text">{{text}}</p>
                                {{/has_text}}
                                {{^has_text}}
                                <p><em>no text</em></p>
                                {{/has_text}}
                                {{>moderation_actions}}
                            </div>
                        </article>
                    </li>
                {{/posts}}
                </ul>
            </section>
            <form class="c-form js-moderation-form none">
                <div class="o-grid">
                    <div class="o-grid_item -half">
                        <div class="o-input-item">
                            <label class="o-label" for="post_author">Author</label>
                            <input class="o-input" id="post_author" type="text" name="author" value="">
                        </div>
                        <div class="o-input-item">
                            <label class="o-label" for="post_text">Text</label>
                            <input class="o-input" id="post_text" type="text" name="text" value="">
                        </div>
                        <div class="o-input-item">
                            <label class="o-label">Image</label>
                            <img src="" id="post_image" alt="">
                        </div>
                        <div class="o-input-item">
                            <button class="o-button -margin js-button-cancel" type="button">Cancel</button>
                            <button class="o-button -margin" type="submit">Save</button>
                        </div>
                    </div>
                </div>
                <input id="post_id" type="hidden" value="">
            </form>

        </main>
        <script src="/assets/scripts/dist/vendors.js"></script>
        <script src="/assets/scripts/dist/moderation.js"></script>
    </body>
</html>