<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Submit a message - EventFeed</title>
        <link rel="stylesheet" href="/utilisateur/styles.css" media="all">
    </head>
    <body>
        <div id="overlay"></div>
        <h1>EventFeed</h1>
        <section style="display:block;" id="container-succes">
            <h3>Your post was succesfully submitted.</h3>
            <h3>It will reviewed and posted once it is approved!</h3>
            <h3><a href="/">&laquo;Back</a></h3>
        </section>
        <script src="/utilisateur/jquery-1.8.0.min.js"></script>
        <script src="/utilisateur/scripts.js"></script>
    </body>
</html>