// ==========================================================================
// Settings
// ==========================================================================

// Colors
// ==========================================================================
$orange: #EF6C00;
$orange-light: #F57C00;
$orange-dark: #E65100;

$grey: #727272;
$grey-light: #939393;
$grey-dark: #414141;
$grey-error: #FFD4D1;

$blue: #4c8ffe;

// Generic
$black: #222222;
$white: white;
$white-dark: #e9e9e9;

// Specific
$selection: $orange;
$link: $orange;
$link-hover: darken($orange, 10%);

// Typography
// ==========================================================================

//Fonts
$roboto: 'Roboto', sans-serif;

// Base
$font-size: 18px;
$line-height: 1.4;
$font-family: $roboto;
$color: $orange;

// Headings
$heading1: 60px; // .alpha
$heading2: 40px; // .beta
$heading3: 30px; // .gamma
$heading4: 25px; // .delta
$heading5: 20px; // .epsilon
$heading6: 12px; // .zeta
$heading-line-height: 1;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Container
// ==========================================================================
$max-width: 1320px;
$padding: 60px;

// Spacings
// ==========================================================================
$gutter: 20px;
$margin: 20px;

$unit: 30px;

// Components
// ==========================================================================
$header-height: $unit * 2;

// Screen widths
// ==========================================================================
$from-tiny: 480px;
$to-tiny: $from-tiny - 1;
$from-small: 600px;
$to-small: $from-small - 1;
$from-medium: 960px;
$to-medium: $from-medium - 1;
$from-large: 1280px;
$to-large: $from-large - 1;
$from-huge: 1600px;
$to-huge: $from-huge - 1;

// Transitions
// ==========================================================================
$speed: 0.3s;
$speed-fast: ($speed / 2);
$easing: cubic-bezier(.55,0,.1,1);
