// ==========================================================================
// Settings
// ==========================================================================

// Colors
// ==========================================================================
$orange-light: #F57C00;
$orange: #EF6C00;
$orange-dark: #E65100;
$grey: #727272;
$grey-light: #939393;
$grey-dark: #414141;
$grey-error: #FFD4D1;

// Generic
$black: #222222;

// Specific
$selection: $orange;
$link: $orange;
$link-hover: darken($orange, 10%);

// Typography
// ==========================================================================

//Fonts
$arimo: 'Roboto', serif;

// Base
$font-size: 18px;
$line-height: 1.4;
$font-family: $arimo;
$color: $orange;
// Headings
$heading1: 72px; // .alpha
$heading2: 46px; // .beta
$heading3: 36px; // .gamma
$heading4: 22px; // .delta
$heading5: 13px; // .epsilon
$heading6: 11px; // .zeta
$heading-line-height: 1;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Container
// ==========================================================================
$max-width: 1320px;
$padding: 60px;

// Spacings
// ==========================================================================
$gutter: 20px;
$margin: 40px;

$unit: 60px;

// Components
// ==========================================================================
$header-main: ($unit * 2);
$header-main-mobile: 59px;
$header-line-height: 40px;

// Screen widths
// ==========================================================================
$from-tiny: 414px;
$to-tiny: $from-tiny - 1;
$from-small: 768px;
$to-small: $from-small - 1;
$from-medium: 1024px;
$to-medium: $from-medium - 1;
$from-large: 1280px;
$to-large: $from-large - 1;
$from-huge: 1680px;
$to-huge: $from-huge - 1;

// Transitions
// ==========================================================================
$speed: 0.3s;
$speed-slow: 0.6s;
$easing: linear;
