<aside class="c-moderation-actions">
    <button class="o-button -flat js-edit-post">Edit</button>
    <button class="o-button -flat js-approve-post">Approve</button>
    <button class="o-button -flat js-reject-post">Reject</button>
</aside>