<!DOCTYPE html>
<html lang="en" class="t-main">
    <head>
        <base href="/"></base>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#3C3C3C">
        <title>EventFeed</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="/assets/styles/dist/main.css">
    </head>
    <body>
        <main>
            <header class="c-header -main">
                <h1 class="c-header_heading h2">EventFeed</h1>
            </header>
            <section class="c-post-grid">
                {{#columns}}
                <ul class="c-post-grid_item -half">
                    {{#posts}}
                    <article data-timestamp="{{ timestamp }}" class="c-post -{{ type }}" style="background-color: {{color}};">
                        {{#has_image}}
                        <img class="c-post_image" src="/uploads/{{ image }}" alt="">
                        {{/has_image}}
                        <div class="c-post_content">
                        {{#has_text}}
                            <p class="c-post_text h3">{{ text }}</p>
                        {{/has_text}}
                            <p class="c-post_author h4">- {{ author }}</p>
                        </div>
                    </article>
                    {{/posts}}
                </ul>
                {{/columns}}
            </section>
        </main>
        <script src="/assets/scripts/dist/vendors.js"></script>
        <script src="/assets/scripts/dist/main.js"></script>
    </body>
</html>