<!DOCTYPE html>
<html lang="en" class="template-main">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#3C3C3C">
        <title>EventFeed</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="/assets/styles/dist/normalize.css">
        <link rel="stylesheet" href="/assets/styles/dist/main.css">
    </head>
    <body>
        <header class="c-header-main">
            <h1 class="c-header-main_heading h2">EventFeed</h1>
        </header>
        <div class="o-grid">
            <div class="o-grid_row">
                <div class="o-grid_item">
                {{#left_posts}}
                    <div data-timestamp="{{ timestamp }}" class="post {{ type }}">
                    {{#is_text}}
                        <p><strong>{{ author }}:</strong> {{ text }}</p>
                    {{/is_text}}
                    {{#is_hybrid}}
                        <img src="/uploads/{{ image }}">
                        <div class="text"><p><strong>{{ author }}:</strong> {{ text }}</p></div>
                    {{/is_hybrid}}
                    {{#is_image}}
                        <img src="/uploads/{{ image }}" alt="">
                    {{/is_image}}
                    </div>
                {{/left_posts}}
                </div>
                <div class="o-grid_item">
                {{#right_posts}}
                    <div data-timestamp="{{ timestamp }}" class="post {{ type }}">
                    {{#is_text}}
                        <p><strong>{{ author }}:</strong> {{ text }}</p>
                    {{/is_text}}
                    {{#is_hybrid}}
                        <img src="/uploads/{{ image }}">
                        <div class="text"><p><strong>{{ author }}:</strong> {{ text }}</p></div>
                    {{/is_hybrid}}
                    {{#is_image}}
                        <img src="/uploads/{{ image }}" alt="">
                    {{/is_image}}
                    </div>
                {{/right_posts}}
                </div>
            </div>
        </div>
        <script src="/assets/scripts/dist/vendors.js"></script>
        <script src="/assets/scripts/dist/main.js"></script>
    </body>
</html>