<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>EventFeed</title>
        <link rel="stylesheet" href="/assets/styles/dist/normalize.css">
        <link rel="stylesheet" href="/assets/styles/dist/main.css">
        <script src="/assets/js/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body>
        <header>
            <p>EventFeed</p>
        </header>
        <div id="columns">
            <div class="column">
            {{#left_posts}}
                <div data-timestamp="{{ timestamp }}" class="post {{ type }}">
                {{#is_text}}
                    <p><strong>{{ author }}:</strong> {{ text }}</p>
                {{/is_text}}
                {{#is_hybrid}}
                    <img src="/uploads/{{ image }}">
                    <div class="text"><p><strong>{{ author }}:</strong> {{ text }}</p></div>
                {{/is_hybrid}}
                {{#is_image}}
                    <img src="/uploads/{{ image }}" alt="">
                {{/is_image}}
                </div>
            {{/left_posts}}
            </div>
            <div class="column">
            {{#right_posts}}
                <div data-timestamp="{{ timestamp }}" class="post {{ type }}">
                {{#is_text}}
                    <p><strong>{{ author }}:</strong> {{ text }}</p>
                {{/is_text}}
                {{#is_hybrid}}
                    <img src="/uploads/{{ image }}">
                    <div class="text"><p><strong>{{ author }}:</strong> {{ text }}</p></div>
                {{/is_hybrid}}
                {{#is_image}}
                    <img src="/uploads/{{ image }}" alt="">
                {{/is_image}}
                </div>
            {{/right_posts}}
            </div>
        </div>
        <script src="/assets/scripts/dist/vendors.js"></script>
        <script src="/assets/scripts/dist/main.js"></script>
    </body>
</html>