<!DOCTYPE html>
<html lang="en" class="t-user">
    <head>
        <base href="/"></base>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#3C3C3C">
        <title>Submit a message - EventFeed</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="/assets/styles/dist/main.css">
    </head>
    <body>
        <main>
            <div id="overlay"></div>
            <header class="c-header -main">
                <h1 class="c-header_heading h2">EventFeed</h1>
            </header>
            <form class="c-form js-user-form" action="/submit" enctype="multipart/form-data" method="post">
                <div class="o-grid">
                    <div class="o-grid_item -half">
                        <div class="o-input-item">
                            <label class="o-label" for="post_author">Name</label>
                            <input class="o-input" id="post_author" type="text" name="author" value="">
                        </div>
                        <div class="o-input-item">
                            <label class="o-label" for="post_text">Message</label>
                            <input class="o-input" id="post_text" type="text" name="text" value="">
                        </div>
                        <div class="o-input-item">
                            <label class="o-label" for="post_image">Image</label>
                            <div class="o-input-wrap">
                                <input class="o-input-file" id="post_image" type="file" name="image" accept="image/*">
                                <label class="o-input-file-path" id="post_image_label" for="post_image">Chose an image</label>
                            </div>
                        </div>
                        <div class="o-input-item">
                            <p class="js-no-content none"><strong>You need to send at least an image or a message.</strong></p>
                            <p>You can send a message, an image, or both at the same time.</p>
                            <p>Innapropriate content will not be posted.</p>
                        </div>
                        <div class="o-input-item">
                            <button class="o-button -margin js-erase-form" type="button">Erase</button>
                            <button class="o-button -margin" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <script data-main="/assets/scripts/app_user" src="/node_modules/requirejs/require.js"></script>
        <!--
        <script src="/assets/scripts/dist/vendors.js"></script>
        <script src="/assets/scripts/dist/user.js"></script>
        -->
    </body>
</html>