// ==========================================================================
// Moderation action buttons
// ==========================================================================

.c-moderation-actions {
    bottom: 0;
    margin: 0 -16px;
    position: absolute;
    width: 100%;
}
