// ==========================================================================
// Nav moderation
// ==========================================================================
.c-nav-moderation {
    color: white;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 90;

    @media (max-width: $to-small) {
        bottom: 0;

        &::after {
            background: linear-gradient(to top, rgba(43, 43, 43, 0.55) 0%, rgba(47, 47, 47, 0) 100%);
            height: 6px;
            top: -6px;
        }
    }

    @media (min-width: $from-small) {
        top: rem($header-height * 2);

        &::after {
            background: linear-gradient(to bottom, rgba(43, 43, 43, 0.55) 0%, rgba(47, 47, 47, 0) 100%);
            bottom: -12px;
            height: 12px;
        }
    }

    &::after {
        content: "";
        left: 0;
        right: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }
}

.c-nav-moderation_list {
    @include grid;

    background-color: $orange-dark;
    margin: 0;
    padding: 0;
}

.c-nav-moderation_item {
    @include grid_item;

    text-align: center;
    vertical-align: middle;
    width: span(1/5);
}

.c-nav-moderation_link {
    color: white;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;

    &::after {
        background-color: rgba(255, 255, 255, 0.5);
        content: "";
        left: 0;
        position: absolute;
        transition: bottom 150ms ease-in-out;
        right: 0;
        width: 100%;

        @media (max-width: $to-small) {
            bottom: -2px;
            height: 2px;
        }

        @media (min-width: $from-small) {
            bottom: -4px;
            height: 4px;
        }
    }

    &:hover {
        color: white;

        &::after {
            bottom: 0;
        }
    }

    &.is-active {
        bottom: 0;

        &::after {
            background-color: white;
            bottom: 0;
        }
    }

    @media (max-width: $to-small) {
        font-size: 12px;
        height: $header-height;
        line-height: $header-height;
    }

    @media (min-width: $from-small) {
        font-size: $font-size;
        height: rem($header-height);
        line-height: rem($header-height);
    }
}
