// ==========================================================================
// Post layout on moderation interface
// ==========================================================================

.c-post-list {
    @include grid;

    padding: 8px;

    @media (min-width: $from-small) {
        //display: flex;
        //align-items: center;
    }
}
.c-post-list_item {
    @include grid_item;

    padding: 8px;

    &::before {
        content: '';
        float: left;
        padding-top:100%;
    }

    @media (min-width: $from-small) {
        height: 250px;
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        width: span(1/2);
    }

    @media (min-width: $from-medium) {
        width: span(1/4);
        height: 375px;
    }
}