// ==========================================================================
// Posts
// ==========================================================================

// Main interface
// ==========================================================================
.c-main-post {
    @extend %post;

    background-color: $blue;
    color: white;
    margin: 0 6px 12px;
    position: relative;

    &.-hybrid .c-main-post_content,
    &.-image .c-main-post_content {
        background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 95%);
        bottom: 0;
        padding: ($padding / 2) ($padding / 2) ($padding / 4);
        position: absolute;
        width: 100%;

        @media (min-width: $from-medium) {
            padding: $padding $padding ($padding / 2);
        }
    }
}

.c-main-post_content {
    padding: ($padding / 2);

    @media (min-width: $from-medium) {
        padding: $padding;
    }
}

.c-main-post_text {
    margin-bottom: $font-size;
}

.c-main-post_image {
    width: 100%;
}

.c-main-post_author {

}

// Moderation interface
// ==========================================================================
.c-moderation-post {
    background: white;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.24);
    height: 100%;
    overflow: hidden;

    @media (max-width: $to-small) {
        //height: $header-main-mobile;
    }

    @media (min-width: $from-small) {
        //height: rem($header-main);
    }
}

.c-moderation-post_label {
    color: $grey-light;
    font-size: 14px;
}

.c-moderation-post_image {
    background-color: $grey-light;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    position: relative;

    .c-moderation-post.-text & {
        background-image: url(../../images/icon-no-image.svg);
        background-size: 30%;
    }
}

.c-moderation-post_image_information {
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 95%);
    bottom: 0;
    color: white;
    font-size: 12px;
    padding: 16px;
    position: absolute;
    width: 100%;
}

.c-moderation-post_content {
    height: 40%;
    font-size: 18px;
    padding: 16px 16px 0;
    position: relative;
}
