body {
  font-family:Helvetica, Arial, sans-serif;
  font-size:100%;
  color:#333333;
}

article p, body, h1 {
  margin:0;
  padding:0;
}

h1, h2 {
  cursor: pointer;
}

h1{
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  background-color: #df8310;
  background-image:         linear-gradient(bottom, #DF8210 0%, #FFA12E 75%);
  background-image:      -o-linear-gradient(bottom, #DF8210 0%, #FFA12E 75%);
  background-image:     -ms-linear-gradient(bottom, #DF8210 0%, #FFA12E 75%);
  background-image:    -moz-linear-gradient(bottom, #DF8210 0%, #FFA12E 75%);
  background-image: -webkit-linear-gradient(bottom, #DF8210 0%, #FFA12E 75%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #DF8210),color-stop(0.75, #FFA12E));
  clear:both;
  color:white;
  font-size: 1.25em;
  padding:1em 5%;
  text-align:center;
  text-shadow: 1px 1px 2px #444;
}

nav ul{
  margin:0;
  padding:0;
}

nav ul li {
  display:block;
  float:left;
  text-align:center;
  width:20%;
}

nav li a{
    background: rgb(63,63,63); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmM2YzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(63,63,63,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,63,63,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(63,63,63,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

    border-right:1px solid #676767;
    color:white;
    display:block;
    font-weight:900;
    padding:20px 0;
    text-decoration:none;
}

nav li a.active{
background: rgb(114,114,114); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyNzI3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(114,114,114,1) 0%, rgba(73,73,73,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,114,114,1)), color-stop(100%,rgba(73,73,73,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(73,73,73,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(73,73,73,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(73,73,73,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(114,114,114,1) 0%,rgba(73,73,73,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#494949',GradientType=0 ); /* IE6-8 */

}

nav li:last-child a{
    border-right:none;
}

#posts p{
    -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
    height:0;
    margin:-1px;
    overflow:hidden;
    padding:0 3%;
    position:relative;
    z-index:10;
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
    background-image:    -moz-linear-gradient(top, #f2f2f2, #ffffff);
    background-image:      -o-linear-gradient(top, #f2f2f2, #ffffff);
    background-image:         linear-gradient(to bottom, #f2f2f2, #ffffff);
}

#posts img{
  width: 100%;
}

#posts .active p{
  height:100%;
  padding:1em 3%;
  border-bottom:1px solid #aaa;
}

#posts aside{
  display:none;
  float:right;
  margin:1em;
}

#posts aside a{
  border:3px solid black;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
  color:black;
  font-size:1em;
  font-weight:900;
  margin-left:0.5em;
  padding:5px;
  text-decoration:none;
}

#posts aside a.edit{
  background-color:#67C8FF;
}

#posts aside a.approve{
  background-color:#5BF56E;
}

#posts aside a.remove{
  background-color:#FF4949;
}

#posts .active aside{
  display:block;
}

#posts h2{
  background-color: #ededed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ededed, #f2f2f2);
  background-image:    -moz-linear-gradient(top, #ededed, #f2f2f2);
  background-image:      -o-linear-gradient(top, #ededed, #f2f2f2);
  background-image:         linear-gradient(to bottom, #ededed, #f2f2f2);
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;
  font-size: 1.125em;
  padding:1em 3%;
  margin:0;
}

#posts .active h2{
  border-bottom:none;
}

#postform { display:none; }
form { padding: 3%; }
form ul {  padding:0; margin:0; }
form ul li { list-style-type:none; }
form label { display: block; width:100%; margin:.7em 0 .1em 0; font-weight:bold; }
form input[type=text] { width:100%; border:1px solid #CCC; font-size: 1.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
form .error { border: 1px solid #C00!important; }
form #btnCancel, form #btnSubmit { font-size:1.1em;margin-top:50px; }

#noEntries { text-align:center; font-size:1.2em; }