// ==========================================================================
// Header moderation
// ==========================================================================
.c-header {
    color: white;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 90;

    @media (max-width: $to-small) {
        //font-size: 0;

        &::after {
            bottom: -6px;
            height: 6px;
        }
    }

    @media (min-width: $from-small) {

        &::after {
            bottom: -12px;
            height: 12px;
        }
    }


    &::after {
        background: linear-gradient(to bottom, rgba(43, 43, 43, 0.55) 0%, rgba(47, 47, 47, 0) 100%);
        content: "";
        left: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }

    &.-main {
        background-color: $grey-dark;
    }

    &.-moderation {
        background-color: $orange;
        cursor: pointer;
    }

    &.-user {
        background-color: green;
    }
}

.c-header_heading {
    margin: 0;

    @media (max-width: $to-small) {
        height: $header-main-mobile;
        line-height: $header-main-mobile;
    }

    @media (min-width: $from-small) {
        height: rem($header-main);
        line-height: rem($header-main);
    }
}
