// ==========================================================================
// Header main
// ==========================================================================
$header-line-height: 40px;

%header-main-height {
	@media (max-width: $to-small) {
		height: $header-main-mobile;
	}

	@media (min-width: $from-small) {
		height: rem($header-main);
	}
}

.header-main {
	@extend %header-main-height;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;
	background-color: $brown;
	z-index: 90;
	text-align: center;
	color: $beige;

	@media (max-width: $to-small) {
		font-size: 0;
	}

	.template-home & {
		position: absolute;
		top: 100vh;

		@media (max-height: 480px) {
			position: fixed;
			top: 0;
		}

		&.is-fixed {
			position: fixed;
			top: 0;
		}
	}
}

.header-main-space {
	@extend %header-main-height;

	@media (max-height: 480px) {
		display: none;
	}
}

.header-main_background {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	background-color: $brown;
	z-index: 0;
	transition: transform $speed;

	&:hover, .header-main:hover &, .has-nav-full & {
		@media (min-width: $from-large) {
			transform: translateY(rem($header-line-height));
		}
	}
}

%header-main_item {
	padding: 22px;

	@media (min-width: $from-small) {
		line-height: rem($header-line-height);
		padding: rem($header-line-height) rem($unit);
	}
}

// Logo
// ==========================================================================
.header-main_logo {
	@extend %header-main_item;
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	transition: transform $speed;
	@include notap;

	.header-main:hover &, .has-nav-full & {
		@media (min-width: $from-large) {
			transform: translateY(rem($header-line-height / 2));
		}
	}
}

.header-main_logo_image {
	fill: $beige;
	transition: fill $speed;

	@media (max-width: $to-small) {
		width: 141px;
		height: 15px;
	}

	@media (min-width: $from-small) {
		width: rem(240px);
		height: rem(26px);
	}

	.header-main_logo:hover & {
		@media (min-width: $from-large) {
			fill: $orange;
		}
	}
}

// Button
// ==========================================================================
.header-main_button {
	@extend %header-main_item;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	text-transform: uppercase;
	font-family: $brandon;
	font-weight: $medium;
	letter-spacing: 0.075em;
	transition: transform $speed, color $speed;
	z-index: 92;
	font-size: 0;
	@include notap;

	&:hover {
		@media (min-width: $from-large) {
			color: $orange;
		}
	}

	&.-home {
		font-size: 0;
		bottom: auto;
		transition: transform $speed;

		&:hover {
			color: $white;
			transform: scale(1.1);
		}

		.has-nav-full & {
			opacity: 0;
		}

		@media (max-height: 480px) {
			display: none;
		}
	}
	
	.has-nav-full & {
		.template-home & {
			position: fixed;
			top: 0;
			right: 0;
			bottom: auto;
		}
	}
	
	.header-main:hover &, .has-nav-full & {
		@media (min-width: $from-large) {
			transform: translateY(rem($header-line-height / 2));
		}
	}
}

.header-main_button_label {
	@media (max-width: $to-small) {
		display: none;
	}

	@media (min-width: $from-small) {
		display: inline-block;
		vertical-align: middle;
		margin-right: rem(10px);
		transition: opacity $speed;
		font-size: rem(12px);

		.has-nav-full & {
			opacity: 0;
		}
	}
}

.header-main_button_icon {
	display: inline-block;
	vertical-align: middle;
	transition: transform $speed;

	@media (max-width: $to-large) {
		width: 23px;
	}

	@media (min-width: $from-large) {
		width: rem(29px);
		height: rem(20px);
	}

	.has-nav-full & {
		transform: translateX(rem(-3px));
	}
}

.header-main_button_icon_line {
	display: block;
	width: 100%;
	height: 2px;
	background-color: $beige;
	transform-origin: center right;
	transition: background-color $speed, opacity $speed, transform $speed;

	@media (max-width: $to-large) {
		margin-bottom: 4px;
	}

	@media (min-width: $from-large) {
		margin-bottom: rem(7px);
	}

	&:last-child {
		margin-bottom: 0;
	}

	.header-main_button:hover & {
		@media (min-width: $from-large) {
			background-color: $orange;

			.-home & {
				background-color: $white;
			}

			.has-nav-full & {
				background-color: $brown;
			}
		}
	}
	
	.has-nav-full & {
		&:nth-child(1) {
			transform: rotate(-41deg) translateY(-2px);

			@media (min-width: $from-large) {
				transform: rotate(-42deg) translateY(-1px);
			}
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(41deg) translateY(2px);

			@media (min-width: $from-large) {
				transform: rotate(42deg) translateY(1px);
			}
		}
	}
	
}