// ==========================================================================
// Header main
// ==========================================================================
.c-header-main {
	@extend %header-main-height;
	backface-visibility: hidden;
	background-color: #414141;
	color: white;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 90;

	@media (max-width: $to-small) {
		font-size: 0;
	}

	&::after {
	    background: linear-gradient(to bottom, rgba(43, 43, 43, 0.55) 0%, rgba(47, 47, 47, 0) 100%);
	    bottom: -12px;
	    content: "";
	    height: 12px;
	    left: 0;
	    position: absolute;
	    width: 100%;
	}
}

.c-header-main_heading {
	margin: 0;
	padding: rem($header-line-height) 0;
}
