// ==========================================================================
// Header main
// ==========================================================================
$header-line-height: 40px;

%header-main-height {
	@media (max-width: $to-small) {
		height: $header-main-mobile;
	}

	@media (min-width: $from-small) {
		height: rem($header-main);
	}
}

.c-header-main {
	@extend %header-main-height;
	backface-visibility: hidden;
	background-color: #3C3C3C;
	color: white;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 90;

	@media (max-width: $to-small) {
		font-size: 0;
	}
}

.c-header-main_heading {
	margin: 0;
	padding: rem($header-line-height) 0;
}
