// ==========================================================================
// Nav moderation
// ==========================================================================
.nav-main {
	display: inline-block;
	line-height: rem($header-line-height);
	text-transform: uppercase;
	font-weight: $medium;

	&.-full {
		@media (max-width: $to-small) {
			display: block;
			border-top: 1px solid rgba($white, 0.3);
		}
	}

	&.-page {
		margin-top: rem(50px);

		@media (max-width: $to-small) {
			max-width: 240px;
		}
	}

	&.-header {
		padding: rem($header-line-height) 0;

		@media (max-width: $to-large) {
			display: none;
		}
	}
}

.nav-main_list {
	@include grid;
	@include list;
}

.nav-main_item {
	position: relative;
	@include grid_item;
	width: rem(180px);

	.nav-main.-header & {
		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 1px;
			background-color: #655a4e;
		}

		&:after {
			transition: transform $speed;

			.header-main:hover & {
				@media (min-width: $from-large) {
					transform: translateY(rem($header-line-height));
				}
			}
		}

		&:last-child {
			&:before, &:after {
				display: none;
			}
		}
	}

	.nav-main.-page & {
		@media (max-width: $to-small) {
			margin-bottom: 23px;
		}
	}

	.nav-main.-full & {
		@media (max-width: $to-small) {
			display: block;
			text-align: center;
			border-bottom: 1px solid rgba($white, 0.3);
			width: 100%;
		}
	}
}

.nav-main_link {
	position: relative;
	display: block;
	color: $white;
	text-decoration: none;

	&:hover {
		color: $white;
	}

	.nav-main.-page & {
		transition: transform $speed;

		&:hover {
			transform: scale(1.1);
		}
	}

	.nav-main.-header & {
		color: $beige;

		&:hover {
			color: $orange;
		}
	}

	.nav-main.-orange & {
		&:hover {
			color: $brown;
		}
	}

	.nav-main.-full & {
		@media (max-width: $to-small) {
			padding: 5px 0 8px 0;
		}
	}
}

.nav-main_icon {
	fill: $white;
	width: rem(46px);
	height: rem(35px);
	transition: fill $speed;

	.nav-main_link:hover & {
		fill: $white;

		.nav-main.-header & {
			fill: $orange;
		}

		.nav-main.-orange & {
			fill: $brown;
		}
	}

	.nav-main.-header & {
		fill: $beige;
	}
}

.nav-main_label {
	display: block;
	font-size: rem(14px);
	letter-spacing: 0.075em;
	white-space: nowrap;

	.nav-main.-header & {
		position: absolute;
		right: 0;
		bottom: rem(-$header-line-height);
		left: 0;
		opacity: 0;
		transition: opacity $speed;

		.header-main:hover & {
			opacity: 1;
		}
	}

	.nav-main.-full & {
		@media (max-width: $to-small) {
			display: inline-block;
			font-size: 1rem;
			min-width: 100px;
			margin-left: 15px;
			text-align: left;
			vertical-align: middle;
		}
	}
}