// ==========================================================================
// Post layout on main interface
// ==========================================================================

.c-post-grid {
    font-size: 0;
    letter-spacing: normal;
    padding: 0 2%;

    @media (min-width: $from-small) {
        align-items: top;
        display: flex;
        height: 100%;
        padding: 0 5%;
    }

    @media (min-width: $from-medium) {
        align-items: top;
        display: flex;
        height: 100%;
        padding: 0 10%;
    }

}
.c-post-grid_item {
    @include grid_item;
    margin: 0;
    //padding-top: $margin;

    @media (min-width: $from-small) {
        height: 100%;
        width: 50%;
    }
}
