{% extends "layout.html" %}
{% block title %}EventFeed{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">{% endblock %}
{% block body %}
    <header>
        <p>EventFeed</p>
    </header>
    <div id="columns">
    {% for column in posts | sort | slice(2) %}
        <div class="columns">
        {% for post in column %}
            <div data-timestamp="{{ post.timestamp }}" class="post {{ post.type }}">
            {% if post.type=='text' %}
                <p><strong>{{ post.author }} :</strong> {{ post.text }}</p>
            {% elif post.type=='hybrid' %}
                <img src="../uploads/{{ post.image }}">
                <div class="text"><p><strong>{{ post.author }} :</strong> {{ post.text }}</p></div>
            {% elif post.type=='image' %}
                <img src="../uploads/{{ post.image }}">
            {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='js/main.js') }}"></script>{% endblock %}