{% extends "layout.html" %}
{% block title %}Moderation - EventFeed{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/moderation.css') }}">{% endblock %}
{% block body %}
    {% if session.bleh %}
        {% set actionLinks = "<aside><a href='#' class='edit'>Modifier</a>&nbsp;<a href='#' class='approve'>Approuver</a>&nbsp;<a href='#' class='remove'>Rejeter</a></aside>" %}
    {% endif %}

        <nav>
            <ul>
                <li><a {% if display=='moderation' or display==None %}class="active"{% endif %} href="/moderation">To Moderate</a></li>
                <li><a {% if display=='approved' %}class="active"{% endif %} href="./approved">Approved</a></li>
                <li><a {% if display=='published' %}class="active"{% endif %} href="./published">Published</a></li>
                <li><a {% if display=='rejected' %}class="active"{% endif %} href="./rejected">Rejected</a></li>
                <li><a {% if display=='options' %}class="active"{% endif %} href="./options">Options</a></li>
            </ul>
        </nav>
        <h1>Modération</h1>
    {% if display != 'params' %}
        <section id='posts'>
        {% for post in posts %}
            <article rel="{{ post.timestamp }}">
            {% if session.logged_in %}{% endif %}
                <aside>
                    <a href="#" class="edit">Edit</a>
            {% if display=='moderation' or display==None %}
                    <a href="#" class="approve">Approve</a>
                    <a href="#" class="remove">Reject</a>
            {% endif %}
                </aside>
                <h2><span class="author">{{ post.author }}</span> - <span class="type">{{ post.type }}</span></h2>
            {% if post.type == 'text' %}
                <p class="text">{{ post.text }}</p>
            {% elif post.type == 'hybrid' %}
                <p><span class="text">{{ post.text }}</span><br><img src="../uploads/{{ post.image }}"></p>

                <!-- list($width, $height) = getimagesize('../utilisateur/uploads/'.$tempimage);
                <p>W : '.$width.' -- H : '.$height.'</p>-->
            {% elif post.type == 'image' %}
                <p><img src="../uploads/{{ post.image }}"></p>

                <!-- list($width, $height) = getimagesize('../utilisateur/uploads/'.$tempimage);
                <p>W : '.$width.' -- H : '.$height.'</p>'-->
            {% endif %}

            </article>
        {% endfor %}
        </section>
        <form id="postform">
            <ul>
                <li>
                    <label for="author">Author</label>
                    <input id="author" type="text" name="author" value="" />
                </li>
                <li>
                    <label for="text">Text</label>
                    <input id="text" type="text" name="text" value="">
                </li>
            </ul>
            <input id="btnCancel" type="button" value="Cancel" />
            <input id="btnSubmit" type="submit" value="Save" />
            <input id="formMode" type="hidden" value="" />
        </form>
    {% else %}
        <form method="post" action="?parametres" id="formParams">
            <ul>
                <li>
                    <label for="vitesse">Vitesse</label>
                    <input id="vitesse" type="tel" name="vitesse" value="{{ params.speed }}" />
                    <input id="etat" name="etat" type="hidden" value="Envoyer">
                </li>
            </ul>
            <input id="btnSubmit" type="submit" value="Save" />
        </form>
    {% endif %}
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='js/moderation.js') }}"></script>{% endblock %}