// ==========================================================================
// Main template
// ==========================================================================
.t-moderation {
    body {
        background-color: #FAFAFA;

        @media (min-width: $from-small) {
            height: 100vh;
            padding-top: rem($header-height) * 3;
        }
    }
}