// ==========================================================================
// Main template
// ==========================================================================
.t-moderation {
    @media (min-width: $from-small) {
        body {
            height: 100vh;
            padding-top: rem($header-main) * 2;
        }

        main {
            height: 100%;
        }
    }
}